<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>首頁</title>
</head>
<body>
  <section class="container">
    <div class="columns">
      <div class="column is-half">
        <h3 class="title">註冊會員</h3>
        <form action="/sign-up" class="form" method="POST">
          <label class="label">暱稱</label>
          <input type="text" name="name" class="input">
          <label class="label">電子郵件</label>
          <input type="email" name="email" placeholder="Email" class="input">
          <label class="label">密碼</label>
          <input type="password" name="password" class="input">
          <hr>
          <button class="button is-primary">註冊會員</butto0n>
        </form>
      </div>
      <div class="column is-half">
        <h3 class="title">登入會員</h3>
        <form action="/login" class="form" method="POST">
          <label class="label">電子郵件</label>
          <input type="email" name="email" placeholder="Email" class="input">
          <label class="label">密碼</label>
          <input type="password" name="password" class="input">
          <hr>
          <button class="button is-primary">登入會員</button>
        </form>
      </div>
    </div>
  </section>
  
  
</body>
</html>